

&pinctrl {
	uart2_default: uart2_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 22)>;
		};

		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 21)>;
			bias-pull-up;
		};
	};

	uart3_default: uart3_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 29)>;
		};

		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 28)>;
			bias-pull-up;
		};
	};
};

&uart2 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};

&uart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart3_default>;
	pinctrl-names = "default";
};



&button3 {
	status = "disabled"; // Disable the button3 node instead of deleting its gpios property
};

/*
&gpio0 {
	RS485_tx_enable1: RS485_tx_enable_1 {
//		gpios = <19 GPIO_ACTIVE_HIGH>;
		gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		gpio-hog;
		label = "RS485 TX Enable 1";
	};

	RS485_tx_enable2: RS485_tx_enable_2 {
		gpios = <23 GPIO_ACTIVE_HIGH>;
		gpio-hog;
		label = "RS485 TX Enable 2";
	};
};
*/

&i2c2 {
	status = "disabled";
};

